<template>
  <div
      :class="[
        'ez-option',
        { 'ez-option--selected': selected },
        { 'ez-option--disabled': disabled },
      ]"
      @click="!disabled && select(option)">
    <slot></slot>
  </div>
</template>

<script>
import { SELECT_OPTION } from './constants';

export default {
  props: {
    option: {
      type: Object,
      required: true,
      default: () => ({}),
    },
    selected: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  inject: {
    select: SELECT_OPTION,
  },
};
</script>

<style scoped lang="scss">
$color-gray-b4: #b4b8c2;

$option-padding-x: 16px;
$option-padding-y: 0;

.ez-option {
    padding: $option-padding-y $option-padding-x;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;

    &--selected {
      background-color: dodgerblue;
    }

    &:hover {
      background-color: $color-gray-b4;
    }

    &--disabled {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
</style>
