<template>
  <ez-select
      ref="select"
      class="input-group"
      :name="name"
      :disabled="disabled"
      :isFullWidth="isFullWidth"
      :value="selected"
      :selected="selected"
      :label="label"
      :options="categories"
      placeholder="All Categories"
      @change="onChange"
  >
    <ul>
      <li v-for="option in data" :key="option.id">
        <ez-option class="parent" :option="option" :disabled="isParentDisabled">
        {{ option.name }}
        </ez-option>

        <ul v-if="option.children && option.children.length">
          <li v-for="child in option.children" :key="child.id">
            <ez-option 
              class="child"
              :option="child" 
              :selected="isSelectedOption(child.id)"
            >
              {{ child.name }}
            </ez-option>
          </li>
        </ul>
      </li>
    </ul>
  </ez-select>
</template>

<script>
import EzSelect, { EzOption } from '@/components/Select';

export default {
  components: {
    EzSelect,
    EzOption,
  },
  props: {
    data: {
      type: Array,
      required: true,
    },
    selected: {
      type: [Number, String],
      required: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    isFullWidth: {
      type: Boolean,
      default: false,
    },
    name: {
      type: String,
      required: false,
    },
    isParentDisabled: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
    },
  },
  data() {
    return {
      selectedOption: [],
    };
  },
  computed: {
    categories() {
      const sortedCategories = this.data.sort(this.sortByName);

      const categoriesWithSortedChildren = sortedCategories.map(category => {
        if (category.children && category.children.length) {
          category.children.sort(this.sortByName);
        }
        return category;
      });

      const flattenedCategories = categoriesWithSortedChildren.flatMap(category => {
        return [category].concat(category.children || []);
      });

      return flattenedCategories;
    },
  },
  methods: {
    isSelectedOption(id) {
      return this.selectedOption.includes(id);
    },
    sortByName(a, b) {
      const aName = a.name.toLowerCase();
      const bName = b.name.toLowerCase();
      return aName !== bName ? bName < aName ? 1 : -1 : 0;
    },
    setSelectedOption(value) {
      this.selectedOption = value;
    },
    onChange(value) {
      this.setSelectedOption(value);
      this.$emit("change", value);
    },
    reset() {
      this.$refs.select.reset();
    },
  },
};
</script>

<style scoped>
.parent {
  font-weight: bold;
}

.parent:disabled {
  color: #000;
}

.child {
  padding-left: 23px;
}
</style>
