<script>
import EzCategoryDropdown from '@/components/CategoryDropdown'
import { mock } from '@/mock.js'

export default {
  components: {
    EzCategoryDropdown
  },
  data() {
    return {
      categories: mock
    }
  }
}
</script>

<template>
  <main class="container">
    <ez-category-dropdown
      :data="categories"
      :isParentDisabled="true"
    />
  </main>
</template>

<style scoped>
.container {
  display: flex;
  padding: 5rem 1rem;
  justify-content: center;
}
</style>
